<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
<welcome-file-list>
		<welcome-file>Home.html</welcome-file>
	</welcome-file-list>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>CustomerController</servlet-name>
  	<display-name>CustomerController</display-name>
  	<description></description>
  	<servlet-class>com.project.controller.CustomerController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmployeeController</servlet-name>
  	<display-name>EmployeeController</display-name>
  	<description></description>
  	<servlet-class>com.project.controller.EmployeeController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CustomerAuthenticate</servlet-name>
  	<display-name>CustomerAuthenticate</display-name>
  	<description></description>
  	<servlet-class>com.project.authenticate.CustomerAuthenticate</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmployeeAuthenticate</servlet-name>
  	<display-name>EmployeeAuthenticate</display-name>
  	<description></description>
  	<servlet-class>com.project.authenticate.EmployeeAuthenticate</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteByIdServlet</servlet-name>
  	<display-name>DeleteByIdServlet</display-name>
  	<description></description>
  	<servlet-class>com.project.authenticate.DeleteByIdServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DisplayAllDataServlet</servlet-name>
  	<display-name>DisplayAllDataServlet</display-name>
  	<description></description>
  	<servlet-class>com.project.authenticate.DisplayAllDataServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewBalanceSevlet</servlet-name>
  	<display-name>ViewBalanceSevlet</display-name>
  	<description></description>
  	<servlet-class>com.project.authenticate.ViewBalanceSevlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>valid</servlet-name>
  	<display-name>valid</display-name>
  	<description></description>
  	<servlet-class>com.project.authenticate.valid</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutServlet</servlet-name>
  	<display-name>LogoutServlet</display-name>
  	<description></description>
  	<servlet-class>com.project.authenticate.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DepositionServlet</servlet-name>
  	<display-name>DepositionServlet</display-name>
  	<description></description>
  	<servlet-class>com.project.authenticate.DepositionServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TransferServlet</servlet-name>
  	<display-name>TransferServlet</display-name>
  	<description></description>
  	<servlet-class>com.project.authenticate.TransferServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>WithdrawServlet</servlet-name>
  	<display-name>WithdrawServlet</display-name>
  	<description></description>
  	<servlet-class>com.project.authenticate.WithdrawServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>CustomerController</servlet-name>
  	<url-pattern>/CustomerController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmployeeController</servlet-name>
  	<url-pattern>/EmployeeController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CustomerAuthenticate</servlet-name>
  	<url-pattern>/CustomerAuthenticate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmployeeAuthenticate</servlet-name>
  	<url-pattern>/EmployeeAuthenticate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteByIdServlet</servlet-name>
  	<url-pattern>/DeleteByIdServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DisplayAllDataServlet</servlet-name>
  	<url-pattern>/DisplayAllDataServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewBalanceSevlet</servlet-name>
  	<url-pattern>/ViewBalanceSevlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>valid</servlet-name>
  	<url-pattern>/valid</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutServlet</servlet-name>
  	<url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DepositionServlet</servlet-name>
  	<url-pattern>/DepositionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TransferServlet</servlet-name>
  	<url-pattern>/TransferServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>WithdrawServlet</servlet-name>
  	<url-pattern>/WithdrawServlet</url-pattern>
  </servlet-mapping>

</web-app>
